.mmb-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  display: none;
}
.mmb-modal > .pic > img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mmb-modal > a {
  display: block;
  width: 1.06664rem;
  height: 1.3333rem;
  line-height: 1.3333rem;
  text-align: center;
  border-radius: 0.13333rem;
  border: 0.066665rem solid rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mmb-modal .l {
  background: url(../images/1.gif) no-repeat;
  background-position: center center;
  background-size: 1.06664rem 1.06664rem;
  left: 0.26666rem;
}
.mmb-modal .r {
  background: url(../images/3.gif) no-repeat;
  background-position: left center;
  background-size: 1.06664rem 1.06664rem;
  right: 0.26666rem;
}
.mmb-modal > .cannel {
  width: 0.66665rem;
  height: 0.66665rem;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 0.26666rem;
  text-align: center;
  line-height: 0.66665rem;
  border-radius: 50%;
  font-size: 18px;
}
[data-dpr='2'] .mmb-modal > .cannel {
  font-size: 36px;
}
[data-dpr="3"] .mmb-modal > .cannel {
  font-size: 54px;
}
.row {
  width: 100%;
  border-radius: 0.13333rem;
  background: #ededed;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
}
[data-dpr='2'] .row {
  font-size: 28px;
}
[data-dpr="3"] .row {
  font-size: 42px;
}
.row > .category-title li {
  line-height: 1.039974rem;
  border: 1px solid #ccc;
}
.row > .category-title li > a.title {
  padding: 0 0.373324rem 0 0.426656rem;
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
[data-dpr='2'] .row > .category-title li > a.title {
  font-size: 32px;
}
[data-dpr="3"] .row > .category-title li > a.title {
  font-size: 48px;
}
.row > .category-title li > a.title:before {
  content: '';
  display: block;
  width: 0.599985rem;
  height: 0.333325rem;
  background: url('../images/icon_bar.png') no-repeat -0.293326rem -2.773264rem;
  position: absolute;
  right: 0.26666rem;
  top: 0.39999rem;
  transform: scale(0.5);
}
.row > .category-title li > .category-content li.w33 {
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
}
.row > .category-title li > .category-content li.w33 > a {
  display: block;
  width: 100%;
  color: #333;
}
.head {
  height: 5.3332rem;
  background: url('../images/bj.png') no-repeat;
  box-sizing: border-box;
  font-family: Segoe Script;
  background-position-y: -5.3332rem;
  color: #fff;
}
.head > .title {
  height: 1.19997rem;
}
.head > .back > a {
  display: block;
}
.head > .back > a > i {
  width: 0.653317rem;
  height: 0.879978rem;
  background: url('../images/back2.png') no-repeat;
  vertical-align: middle;
}
.head > .back > a > span {
  width: 1.839954rem;
  height: 0.906644rem;
  background: url('../images/backback.png') no-repeat;
}
.head > .txt {
  margin-top: 0.66665rem;
  font-size: 20px;
  text-align: center;
}
[data-dpr='2'] .head > .txt {
  font-size: 40px;
}
[data-dpr="3"] .head > .txt {
  font-size: 60px;
}
main > .title {
  height: 2.026616rem;
  background: url('../images/bg2.png') no-repeat;
  background-position-x: -1.46663rem;
  font-family: 'Segoe UI Semilight';
}
main > .title > .log {
  text-align: center;
  height: 2.026616rem;
  line-height: 2.026616rem;
  font-size: 20px;
}
[data-dpr='2'] main > .title > .log {
  font-size: 40px;
}
[data-dpr="3"] main > .title > .log {
  font-size: 60px;
}
main > .title > .sign {
  color: #3e95a9;
}
main > .title > .sign1 {
  position: relative;
}
main > .title > .sign1:before {
  content: '';
  display: block;
  width: 0rem;
  height: 0rem;
  position: absolute;
  top: 1.759956rem;
  left: 1.773289rem;
  border-bottom: 0.279993rem solid #ffffff;
  border-left: 0.279993rem solid transparent;
  border-right: 0.279993rem solid transparent;
}
main > .title1 {
  background: #deebf2;
  position: relative;
}
main > .m-body {
  height: 10.6664rem;
  padding: 0.53332rem 1.59996rem;
}
main > .m-body > ul > li {
  border-bottom: 0.026666rem solid #353535;
  line-height: 1.86662rem;
  padding-left: 0.79998rem;
}
main > .m-body > ul > li > a {
  color: #828282;
  font-size: 18px;
  position: relative;
}
[data-dpr='2'] main > .m-body > ul > li > a {
  font-size: 36px;
}
[data-dpr="3"] main > .m-body > ul > li > a {
  font-size: 54px;
}
main > .m-body > ul > li > a input {
  color: #828282;
}
main > .m-body > ul > li .email:before {
  content: '';
  display: block;
  width: 0.653317rem;
  height: 0.493321rem;
  position: absolute;
  top: 0.066665rem;
  left: -0.973309rem;
  background: url('../images/email.png') no-repeat;
}
main > .m-body > ul > li .pass:before {
  content: '';
  display: block;
  width: 0.653317rem;
  height: 0.493321rem;
  position: absolute;
  top: 0.066665rem;
  left: -0.973309rem;
  background: url('../images/lock.png') no-repeat;
}
main > .m-body > .login {
  text-align: center;
  height: 1.626626rem;
  border-radius: 0.66665rem;
  margin-top: 1.439964rem;
  border: 0.026666rem solid #8e8e8e;
}
main > .m-body > .login button {
  width: 100%;
  height: 1.573294rem;
  border-radius: 0.66665rem;
  background: #f7f7f7;
  font-size: 20px;
  color: #828282;
}
[data-dpr='2'] main > .m-body > .login button {
  font-size: 40px;
}
[data-dpr="3"] main > .m-body > .login button {
  font-size: 60px;
}
main > .m-body > .fog {
  text-align: center;
  margin-top: 0.39999rem;
  font-size: 18px;
}
[data-dpr='2'] main > .m-body > .fog {
  font-size: 36px;
}
[data-dpr="3"] main > .m-body > .fog {
  font-size: 54px;
}
main > .m-body > .forg {
  font-family: Segoe Script;
}
